<div class="flex justify-center">
  <div class="w-11/12 md:w-3/4 pt-4">
    <h1 class="text-center text-2xl">Application for <%= @application.job_title + ' at ' + @application.company_name %></h1>
    <ul class="flex justify-evenly border border-gray my-4 p-2 rounded-md">
      <li class="p-2 rounded-md border border-black cursor-default" id="cover-tab">Cover</li>
      <li class="p-2 rounded-md border border-gray cursor-pointer hover:shadow" id="values-tab">Values</li>
      <li class="p-2 rounded-md border border-gray cursor-pointer hover:shadow" id="experience-tab">Experience</li>
      <li class="p-2 rounded-md border border-gray cursor-pointer hover:shadow" id="projects-tab">Projects</li>
      <li class="p-2 rounded-md border border-gray cursor-pointer hover:shadow" id="competencies-tab">Competencies</li>
      <li class="p-2 rounded-md border border-gray cursor-pointer hover:shadow" id="education-tab">Education</li>
      <li class="p-2 rounded-md border border-gray cursor-pointer hover:shadow" id="hobbies-tab">Hobbies</li>
    </ul>
    <div id="cover-content">cover</div>
    <div id="values-content" class="hidden">values</div>
    <div id="experience-content" class="hidden">experience</div>
    <div id="projects-content" class="hidden">projects</div>
    <div id="competencies-content" class="hidden">competencies</div>
    <div id="education-content" class="hidden">education</div>
    <div id="hobbies-content" class="hidden">hobbies</div>
  </div>
</div>

<script>
  const toggleHidden = tab => tab.classList.toggle('hidden')
  const toggleButtonClasses = (btn) => {
    btn.classList.toggle('border-black')
    btn.classList.toggle('border-gray')
    btn.classList.toggle('cursor-pointer')
    btn.classList.toggle('cursor-default')
    btn.classList.toggle('hover:shadow')
  }
  const getContentDiv = (tabId) => {
    const divId = tabId.split('-')[0] + '-content'
    return document.getElementById(divId)
  }
  const tabs = document.querySelectorAll('li')
  tabs.forEach((tab) => {
    tab.addEventListener('click', (e) => {
      const activeTab = Array.from(tabs).filter(tab => tab.classList.contains('border-black'))[0]
      toggleButtonClasses(activeTab)
      toggleButtonClasses(e.currentTarget)
      const divToReveal = getContentDiv(e.currentTarget.id)
      const divToHide = getContentDiv(activeTab.id)
      toggleHidden(divToHide)
      toggleHidden(divToReveal)
    })
  })
</script>
